# Ignore backend parts
__pycache__/
/__pycache__
*.pyc 

# Ignore virtual environment
myenv/
/myenv
.venv/
/.venv

# Ignore other temporary files 
*.log
*.tmp 
.DS_Store 


# Ignore db_directory 
db_directory/
/db_directory
/db
db/

.idea/
/.idea

# Ignore test files
test.py
test.html
test.vue
test.js

# Environment files
.env
*.env

# Ignore frontend parts
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

.eslintcache

# Cypress
/cypress/videos/
/cypress/screenshots/

# Vitest
__screenshots__/

# Vite
*.timestamp-*-*.mjs

/.vscode
.vscode/
